<mat-drawer-container>
  <mat-drawer mode="side" opened #mySidenav>
    <img src="..\assets\Images\Ken Mbesa.png" alt="" />
    <mat-list>
      <mat-list-item routerLink="/about">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >fingerprint</mat-icon
        >
        About
      </mat-list-item>
      <mat-list-item routerLink="/my-skills">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >insert_chart</mat-icon
        >
        Skills
      </mat-list-item>
      <mat-list-item routerLink="/my-projects">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >code</mat-icon
        >
        Projex
      </mat-list-item>
      <mat-list-item routerLink="/blog">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >format_line_spacing</mat-icon
        >
        Blog
      </mat-list-item>
      <mat-list-item routerLink="/contact-me">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >mail</mat-icon
        >
        Contact
      </mat-list-item>
      <mat-list-item routerLink="#">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >share</mat-icon
        >
        Share
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-icon class="toggle-sidenav" (click)="mySidenav.toggle()"
      >menu</mat-icon
    >
  </mat-drawer-content>
</mat-drawer-container>
