<div class="body-container">
  <div class="text-block">
    <h1>Overview of my Skills</h1>
    <p>
      I am able to build world-class responsive websites and web applications
      with HTML, CSS and vanilla JavaScript, as well as the Angular framework.
      As I mentioned in the
      <span routerLink="/about" class="about-link">About</span> section, I'm
      also equipped with visual design skills that enable me to create several
      types of visual materials for the web development projects am working on.
      I'm proficient in Adobe Illustrator, Adobe Photoshop, Figma, and Canva. In
      WordPress, I am comfortable working with Elementor. I actually have
      several classes on Skillshare in which I teach these skills.
    </p>
    <div>
      <button>Talk 2 Me</button>
    </div>
  </div>

  <div class="skill-block">
    <div class="skill">
      <h3>HTML</h3>
      <mat-progress-bar mode="buffer" value="92" color="primary"> </mat-progress-bar>
    </div>
    <div class="skill">
      <h3>CSS</h3>
      <mat-progress-bar mode="buffer" value="90"> </mat-progress-bar>
    </div>
    <div class="skill">
      <h3>JavaScript</h3>
      <mat-progress-bar mode="buffer" value="77"> </mat-progress-bar>
    </div>

    <h2>Frameworks</h2>
    <div class="skill">
      <h3>Angular</h3>
      <mat-progress-bar mode="buffer" value="70"> </mat-progress-bar>
    </div>

    <h2>UI/UX Tools</h2>
    <div class="skill">
      <h3>Figma</h3>
      <mat-progress-bar mode="buffer" value="84"> </mat-progress-bar>
    </div>

    <h2>CMS</h2>
    <div class="skill">
      <h3>WordPress</h3>
      <mat-progress-bar mode="buffer" value="85"> </mat-progress-bar>
    </div>

    <h2>Graphic Design Tools</h2>
    <div class="skill">
      <h3>Adobe Illustrator</h3>
      <mat-progress-bar mode="buffer" value="96"> </mat-progress-bar>
    </div>
    <div class="skill">
      <h3>Adobe Photoshop</h3>
      <mat-progress-bar mode="buffer" value="90"> </mat-progress-bar>
    </div>
    <div class="skill">
      <h3>Canva</h3>
      <mat-progress-bar mode="buffer" value="85"> </mat-progress-bar>
    </div>
  </div>
</div>
