<div class="body-container">
  <div class="text-block">
    <h1>Ken Mbesa</h1>
    <p>
      With at least 5 years` experience in web design and real-world website
      projects in my portfolio to back it up, I have gradually morphed from a
      full-time graphic designer to a sought-after web and Ul/UX designer far
      several brands. In the last five years, I have been commissioned by
      different clients to build e-commerce stores, online learning platforms,
      business websites and personal blogs, while also working on my own online
      businesses. Want to see examples of the types of websites I can build?
      Click the orange button below to check out some of my web projects.
    </p>
    <div>
      <button>Talk 2 Me</button>
    </div>
  </div>
  <div class="media-block">
    <p>My Image</p>
  </div>
</div>
