<div class="body-container">
  <div class="text-block">
    <h1>Ken Mbesa</h1>
    <p>
      I'm a self-taught web developer based in Nairobi, Kenya. As you will
      discover from reading through this website, I started learning how to code
      in HTML, CSS and JavaScript in 2021. Before deciding to learn how to code,
      I had been a WordPress expert, graphic designer and UI/UX designer for
      several years. I still am, but I mainly use those skills to design visuals
      for my web development projects. In the last 12 months, and after becoming
      comfortable working with HTML, CSS and JS, I have learned how to build
      beautiful websites (Like this one) and fully functioning web applications
      using Angular (The MEAN stack). Want to see what I've been able build so
      far? Go to the
      <span routerLink="/my-projects" class="projex-link">Projex</span> section.
    </p>
    <div>
      <button>Talk 2 Me</button>
    </div>
  </div>
  <div class="media-block">
    <img src="..\assets\Images\Ken Mbesa's Portrait Image.png" alt="" />
  </div>
</div>
