mat-drawer-container {
  height: 100vh;
  width: 100vw;

  mat-drawer {
    background-color: #101010;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(255, 255, 255);
      font-weight: 200;
      font-family: "Montserrat", sans-serif;

      img {
        background-color: #101010;
        width: 100px;
        margin-top: 2rem;
        // margin-left: .rem;
      }
    }

    mat-list {
      margin-top: 5rem;

      mat-list-item {
        color: #fff;
        cursor: pointer;
        margin-top: 0.6rem;
        font-family: "Montserrat", sans-serif;

        a {
          // Center align the word 'Share' with the icon
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        mat-icon {
          margin-right: 1rem;
        }
      }

      mat-list-item:hover {
        color: greenyellow;
        cursor: pointer;
        background-color: #131313;
        font-family: "Montserrat", sans-serif;

        mat-icon {
          margin-right: 1rem;
          color: greenyellow;
        }
      }

      mat-list-item:focus {
        color: greenyellow;
        cursor: pointer;
        background-color: #131313;
        font-family: "Montserrat", sans-serif;

        mat-icon {
          margin-right: 1rem;
          color: greenyellow;
        }
      }
    }
  }

  mat-drawer-content {
    background-color: #131313;
    padding: 1rem;

    .shared-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .apps-icon {
        color: #fff;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;

        small {
          color: greenyellow;
          margin-right: 0.5em;
          font-family: "Montserrat", sans-serif;
        }

        mat-icon {
          padding-right: 0.5rem;
          margin-top: -0.2rem;
        }

        mat-icon:hover {
          padding-right: 0.5rem;
          color: greenyellow;
        }

        // mat-menu-item {
        //   background-color: #101010;

        //   color: greenyellow;
        // }
      }

      .toggle-sidenav {
        cursor: pointer;
        color: greenyellow;
        margin-top: 1.5rem;
      }
      .toggle-sidenav:hover {
        cursor: pointer;
        color: #fff;
        margin-top: 1.5rem;
      }
      .toggle-sidenav:focus {
        cursor: pointer;
        color: #fff;
        margin-top: 1.5rem;
      }
    }
  }
}


