<mat-drawer-container>
  <mat-drawer mode="side" opened #mySidenav>
    <div>
      <img src="..\assets\Images\Ken Mbesa.png" alt="" />
      <p>Ken Mbesa</p>
    </div>

    <mat-list>
      <mat-list-item routerLink="/about">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >fingerprint</mat-icon
        >
        About
      </mat-list-item>
      <mat-list-item routerLink="/my-skills">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >insert_chart</mat-icon
        >
        Skills
      </mat-list-item>
      <mat-list-item routerLink="/my-projects">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >code</mat-icon
        >
        Projex
      </mat-list-item>
      <mat-list-item routerLink="/blog">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >format_line_spacing</mat-icon
        >
        Blog
      </mat-list-item>
      <mat-list-item routerLink="/contact-me">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >mail</mat-icon
        >
        Contact
      </mat-list-item>
      <mat-list-item routerLink="/share">
        <mat-icon class="material-icons-outlined" class="sidenav-icon"
          >share</mat-icon
        >
        Share
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="shared-icons">
      <mat-icon class="toggle-sidenav" (click)="mySidenav.toggle()"
        >menu</mat-icon
      >
      <div class="apps-icon">
        <small>My Businesses</small>
        <mat-icon [matMenuTriggerFor]="menu">apps</mat-icon>
        <mat-menu #menu="matMenu">
          <a>
            <button mat-menu-item>Pabzzy</button>
          </a>
          <a>
            <button mat-menu-item>HelaBag</button>
          </a>
          <a>
            <button mat-menu-item>Jedwali</button>
          </a>
        </mat-menu>
      </div>
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
