<div class="body-container">
  <div class="form-block">
    <h1>Talk 2 Me</h1>
    <form action="">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput/>
        <mat-hint>What should I call you?</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput/>
        <mat-hint>What should I call you?</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput/>
        <mat-hint>What should I call you?</mat-hint>
      </mat-form-field>

      <button>Send Message</button>
    </form>
  </div>
  <div class="media-block"></div>
</div>
