<div class="dialog-container">
  <h2>Share this Website!</h2>
  <p>Do you like this website's design? Tell your community about it!</p>
  <div class="social-media-btn">
    <a
      href="http://twitter.com/intent/tweet?text=I%20just%20came%20across%20this%20awesome%20website%20designed%20by%20@kenmbesa%3A&url=www.kenmbesa.co.ke"
    >
      <button mat-raised-button color="primary">Twitter</button>
    </a>
    <button mat-raised-button color="primary">LinkedIn</button>
    <button mat-raised-button color="primary">FaceBook</button>
  </div>
</div>
