<div class="body-container">
  <div class="text-block">
    <h1>Completed Projects</h1>
    <p>
      In 2021, a few weeks after deciding to learn how to code, I realized that
      the best and quickest way to understand the principles of programming was
      to work on real-world projects, rather than watching tutorials and copying
      the code provided by the tutors. So I started working on simple frontend
      projects like signup forms, info boxes, page sections and single page
      wesite UIs. With time, I realized I had gradually built a library of
      completed projects that I'm today proud to showcase to friends, strangers
      and potential clients.
    </p>
    <div>
      <button>Talk 2 Me</button>
    </div>
  </div>
  <div class="projex-block">
    <div class="project">Project 1</div>
    <div class="project">Project 2</div>
    <div class="project">Project 3</div>
    <div class="project">Project 4</div>
    <div class="project">Project 5</div>
    <div class="project">Project 6</div>
  </div>
</div>
