.body-container {
  .blog-block {
    background-color: #141414;
    border-radius: 0.5rem;
    height: 640px;
    width: 95%;
    padding: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: greenyellow;

    h1 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-weight: 900;
      margin-bottom: 1.5rem;

      span {
        color: #fff;
      }
    }

    mat-grid-tile {
      border-radius: 1rem;

      mat-card {
        background-color: #191919;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat", sans-serif;

        p {
          text-align: center;
        }
      }
      mat-card:hover {
        background-color: #111111;
        color: greenyellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;

        p {
          text-align: center;
        }
      }
    }
  }
}
